{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended" // uses the recommended rules from the @typescript-eslint/eslint-plugin
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "ignorePatterns": ["dist"],
    "rules": {
        "brace-style": ["warn"],
        "camelcase": ["warn"],
        "comma-dangle": ["warn", "always-multiline"],
        "curly": ["warn", "all"],
        "dot-notation": "warn",
        "eqeqeq": "warn",
        "indent": ["warn", 4, { "SwitchCase": 2 }],
        "linebreak-style": ["warn", "unix"],
        "lines-between-class-members": [
            "warn",
            "always",
            { "exceptAfterSingleLine": true }
        ],
        "max-len": ["warn", 140],
        "no-await-in-loop": ["warn"],
        "no-console": ["warn"], // use the provided Homebridge log method instead
        "prefer-arrow-callback": ["warn"],
        "quotes": ["warn", "single", { "avoidEscape": true }],
        "semi": ["warn", "always"],
        "comma-spacing": ["error"],
        "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
        "no-trailing-spaces": ["warn"],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/semi": ["warn"],
        "@typescript-eslint/member-delimiter-style": ["warn"]
    }
}
